#formText {
    color:white;
    font-weight: 700;
    font-size: 1.5rem;
}

.letter{
    transition: color 1000ms;
}

body{
    background-color: darkblue;
}

h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
}